@model MVCStok.Models.Entity.tbl_kategoriler
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
      @Html.TextBoxFor(m=>m.KatwgoriAd,new {@class="form-control" })
        @Html.ValidationMessageFor(m=>m.KatwgoriAd,"",new {@style="color:red"})
    </div>
    <div style="margin-top:15px"><button class="btn btn-success">Kategori Ekle</button></div>

</form>

