@using MVCStok.Models.Entity
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<tbl_kategoriler>
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Kategori Listesi</h2>

<table class="table table-hover">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
   <tbody>
       @foreach (var ctgrs in Model)
       {
           <tr>
               <td>@ctgrs.KategoriID</td>
               <td>@ctgrs.KatwgoriAd</td>
               <td> @Html.ActionLink("Sil", "delete", new { id = ctgrs.KategoriID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten Silmek İstiyormusunuz?')" })</td>
               <td><a href="/Category/categoryGetir/@ctgrs.KategoriID" class="btn btn-warning">Güncelle</a></td>
           </tr>
       }
   </tbody>
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("CategoryList",new {sayfa}))
<a href="/Category/Category_new/" class="btn btn-success">Yeni Kategori Ekle</a>
