@using MVCStok.Models.Entity
@model List<tbl_kategoriler>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>CategoryList</h2>

<table class="table table-hover">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
   <tbody>
       @foreach (var ctgrs in Model)
       {
           <tr>
               <td>@ctgrs.KategoriID</td>
               <td>@ctgrs.KatwgoriAd</td>
               <td><a href="/Category/delete/@ctgrs.KategoriID" class="btn btn-danger">Sil</a></td>
               <td><a href="/Category/categoryGetir/@ctgrs.KategoriID" class="btn btn-warning">Güncelle</a></td>
           </tr>
       }
   </tbody>
</table>
<a href="/Category/Category_new/" class="btn btn-success">Yeni Kategori Ekle</a>
