@model  MVCStok.Models.Entity.tbl_kategoriler
@{
    ViewBag.Title = "categoryGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>categoryGetir</h2>
@using (Html.BeginForm("update", "Category", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.KategoriID)
    @Html.TextBoxFor(m => m.KategoriID, new { @class = "form-control" })
    <br/>
    @Html.LabelFor(m=>m.KatwgoriAd)
    @Html.TextBoxFor(m => m.KatwgoriAd, new {@class="form-control"})

</div>
<div>
    <button class="btn btn-success">Kategori Güncelle</button>
</div>
}

