
@{
    ViewBag.Title = "Category_new";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KatwgoriAd" />
    </div>
    <div style="margin-top:15px"><button class="btn btn-success">Kategori Ekle</button></div>

</form>

