
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="text-align:center;justify-content:center;margin-top:20%"><h2>Stok Takip Otomasyonuna Hoş Geldiniz</h2></div>

