@model MVCStok.Models.Entity.tbl_musteriler
@{
    ViewBag.Title = "Customer_new";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Müşteri  Adı</label>
      @Html.TextBoxFor(m=>m.MusteriAd,new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new {@style="color:red"})
    </div>
    <div>
        <label>Müşteri  Soyad</label>
        <input type="text" class="form-control" name="MusteriSoyad" />
    </div>
    <div style="margin-top:15px"><button class="btn btn-success" id="btn1">Müşteri Ekle</button></div>
</form>

